@using Base_Asp_Core_MVC_with_Identity.Models.View;
@model ImportViewModel

<style>
    body {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
    }

    .container-a {
        margin-top: 50px;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #007bff;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

    .detail-container {
        margin-top: 20px;
    }

    .detail-row {
        margin-bottom: 10px;
    }

    .add-detail-button {
        margin-top: 10px;
    }
</style>

<div class="container-a">
    <div class="row pb-2">
        <h2>Nhập hàng</h2>
    </div>

    <form method="post" asp-action="Create" asp-controller="ImportProduct">
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ImportCode, htmlAttributes: new { @class = "control-label col-md-4" })
                <input type="text" class="form-control mb-3 col-md-8" asp-for="ImportCode" readonly="true">
                <span asp-validation-for="ImportCode" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ImportName, htmlAttributes: new { @class = "control-label col-md-4" })
                <input type="text" class="form-control mb-3 col-md-8" asp-for="ImportName" placeholder="Nhập tên sản phẩm">
                <span asp-validation-for="ImportName" class="alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.ImportDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <input type="date" class="form-control datepicker col-md-8" asp-for="ImportDate" id="birthDateInput" asp-format="{0:yyyy-MM-dd}">
                <span asp-validation-for="ImportDate" class="alert-danger"></span>
            </div>
            <div class="detail-container col-md-12">
                <h4>Chi tiết sản phẩm</h4>

                <div class="detail-row">
                    @for (int i = 0; i < Model.ProductDetails.Count; i++)
                    {
                        <div class="row">
                            <!-- Add fields for details here -->
                            <div class="form-group col-md-5">
                                @Html.LabelFor(model => model.ProductDetails[i].ProduceId, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.DropDownListFor(model => model.ProductDetails[i].ProduceId, new SelectList(ViewBag.product_lst, "Text", "Value"),
                            "Chọn nhà cung cấp",
                            htmlAttributes: new { @id = "supplier" + i, @class = "form-control col-md-4" })
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.ProductDetails[i].Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="input-group">
                                    @*@Html.TextBoxFor(model => model.ProductDetails[i].Quantity, new { @class = "form-control col-md-4", @id = "quantity" + i, @oninput = "preventNegativeInput(this)" })*@
                                    <input type="text" class="form-control col-md-4" id="quantity@(i)" name="ProductDetails[@i].Quantity" oninput="preventNegativeInput(this)">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                @Html.LabelFor(model => model.ProductDetails[i].Price, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="input-group">
                                    <input type="text" class="form-control col-md-4" id="price@(i)" name="ProductDetails[@i].Price" oninput="formatCurrency(this)">
                                    @*@Html.TextBoxFor(model => model.ProductDetails[i].Price, new { @class = "form-control col-md-4", @id = "price" + i, @oninput = "formatCurrencyv1(this)" })*@

                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                @Html.LabelFor(model => model.ProductDetails[i].ExpirationData, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="input-group">
                                    <input type="date" class="form-control datepicker col-md-8" asp-for="ProductDetails[i].ExpirationData" id="birthDateInput" asp-format="{0:yyyy-MM-dd}">
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                            @*<input type="text" class="form-control col-md-8" asp-for="TotalAmount" id="totalAmount" readonly oninput="formatCurrency(this)">*@
                            @*<input type="text" class="form-control mb-3 col-md-8" asp-for="TotalAmount" readonly="true">*@
                            @*<input type="text" class="form-control col-md-4"  id="totalAmount" name="TotalAmount" readonly oninput="formatCurrency(this)">*@
                            @Html.TextBoxFor(model => model.TotalAmount, "{0:N0}", new { @class = "form-control col-md-4", @id = "totalAmount", @oninput = "formatCurrency(this)" ,@readonly = true})
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-outline-primary px-4 py-2 mx-2"><i class="bi bi-save"></i> Tạo mới </button>
            <a asp-controller="ImportProduct" asp-action="Index" class="btn btn-lg btn-outline-warning px-4 py-2">Trở về</a>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <script>
            $(document).ready(function () {
                // Tính tổng tiền khi giá hoặc số lượng thay đổi
                $('input[id^="quantity"], input[id^="price"]').on('change', function () {
                    var totalAmount = 0;

                    // Kiểm tra xem các input có tồn tại và có giá trị không
                    var quantityInputs = $('input[id^="quantity"]');
                    var priceInputs = $('input[id^="price"]');

                    if (quantityInputs.length === priceInputs.length && quantityInputs.length > 0) {
                        quantityInputs.each(function (index) {
                            var quantity = parseFloat($(this).val());
                            var price = parseFloat($('#price' + index).val());
                            if (!isNaN(quantity) && !isNaN(price)) {
                                totalAmount += quantity * price;
                            }
                        });

                        // Định dạng tổng tiền thành tiền VNĐ và gán vào ô input
                        $('#totalAmount').val(formatCurrency(totalAmount.toFixed(2)));
                    }
                });

                // Hàm định dạng tiền VNĐ
                function formatCurrency(value) {
                    // Chuyển đổi giá trị thành chuỗi
                    var stringValue = value.toString();
                    // Kiểm tra xem có dấu chấm thập phân hay không
                    var hasDecimal = stringValue.indexOf('.') !== -1;
                    // Phần nguyên và phần thập phân
                    var integerPart, decimalPart = '';

                    if (hasDecimal) {
                        var parts = stringValue.split('.');
                        integerPart = parts[0];
                        decimalPart = parts[1];
                    } else {
                        integerPart = stringValue;
                    }

                    // Định dạng phần nguyên
                    var formattedInteger = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

                    // Trả về giá trị đã định dạng
                    if (hasDecimal) {
                        return formattedInteger + ',' + decimalPart;
                    } else {
                        return formattedInteger;
                    }
                }
            });


            function preventNegativeInput(input) {
                // Kiểm tra giá trị nhập vào
                var value = input.value;

                // Nếu giá trị nhập vào là rỗng, gán giá trị mặc định là 0
                if (value === "") {
                    input.value = "0";
                    return;
                }

                // Loại bỏ dấu âm nếu có
                if (value.includes("-")) {
                    input.value = value.replace("-", "");
                }
            }

            function formatCurrencyv1(input) {
                // Lấy giá trị nhập vào
                var value = input.value;
                // Kiểm tra nếu giá trị nhập vào là rỗng hoặc là dấu -
                if (value === "" || value === "-") {
                    // Nếu là rỗng hoặc là dấu -, gán giá trị mặc định là 0
                    input.value = "0";
                    return;
                }
                // Xóa các ký tự không phải là số từ giá trị nhập vào
                value = value.replace(/[^\d]/g, '');


                // Loại bỏ số 0 ở đầu
                value = value.replace(/^0+/, '');

                // Kiểm tra nếu giá trị sau khi loại bỏ số 0 ở đầu là rỗng, gán giá trị mặc định là 0
                if (value === "") {
                    input.value = "0";
                    return;
                }

                // Tạo biến để lưu trữ kết quả
                var result = "";

                // Dùng vòng lặp để thêm dấu chấm sau mỗi 3 chữ số
                for (var i = 0; i < value.length; i++) {
                    result += value.charAt(i);
                    if ((value.length - i - 1) % 3 === 0 && i !== value.length - 1) {
                        result += ".";
                    }
                }

                //// Gán giá trị đã được định dạng lại vào ô input
                input.value = value;
            }
        </script>

        <partial name="_ValidationScriptsPartial" />

    }
}


